<%- include('../partials/header'); %>
    <img src="/media/avatar.gif" alt="avatar gif" class="fluid-img header-gif">
    <main class="main" id="main">
        <p class="container text-center home-text">
            <%= data[0].synopsis %>
        </p>
    </main>

    <%- include('../partials/footer'); %>